<div class="mycontainer">
  <div class="logo_center"><div class="logo"></div></div>
  <div class="white_bg">
    <div class="container-fluid">
      <div class="signin col-md-12 col-sm-12 col-xs-12">Sign in</div>
    </div>
    <div class="container-fluid">
      <div class="username col-md-12 col-sm-12 col-xs-12">
        <input type="text" name="username" placeholder="Username" id="username">
        <div class="error username_error"></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="password col-md-12 col-sm-12 col-xs-12">
        <input type="password" name="password" placeholder="Password" id="password">
        <div class="error password_error"></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="signin_btn col-md-12 col-sm-12 col-xs-12" (click)="gotoTaDashboard();"> Sign in </div>
    </div>
    <div class="container-fluid">
      <div class="forget_password col-md-12 col-sm-12 col-xs-12">Forget password?</div>
    </div>
  </div>
  <div class="container-fluid footer">
   <div class="footer-block footer_txt">Copyright © 2018 CSSCROP. All rights reserved. Terms of Use | Privacy Policy</div>
  </div>
</div>
